@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
* {
  margin: 0;
}
html {
  width: 1080px;
  margin: 0 auto;
}
body {
  background-color: #242424;
}
.by {
  text-align: right;
  color: #DDDDDD;
  background-color: #242424;
  border-radius: 5px;
  padding: 2.5%;
  height: 50px;
  margin: 5% auto;
}
.container {
  background-color: #434343;
  border-radius: 5px;
  padding: 2.5%;
  height: 300px;
  margin: 5% auto;
  margin-top: 15%;
}
button:hover {
  box-shadow: inset 0 5px 5px 0 #434343;
}
.buttons {
  margin-left: 40%;
}